@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.purple {
    color: rgba(80, 17, 204);
}

.nav__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

.nav__logo {
    display: flex;
    align-items: center;
}


.nav__logo--img {
    width: 40px;
}

.nav__link--title {
    padding-left: 12px;
    font-size: 24px;
    font-weight: 900;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.nav__link {
    font-size: 16px;
    padding: 24px;
}

.nav__link--primary {
    background-color: rgba(80, 17, 204);
    color: white;
    border-radius: 100px;
    padding: 12px 24px;
}


/* header  */

.header__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header__para--description {
    margin: 24px 0;
}


.container {
    display: flex;
    justify-content: space-between;
}

.header__img {
    max-width: 1200px;
    height: 400px;
}

.header__email--btn {
    color: white;
    width: 100px;
    background-color: rgba(80, 17, 204);
    padding: 12px;
    border-radius: 24px;
    cursor: pointer;
}

.header__customer--title {
    margin: 16px 0;
}

.header__customers {
    max-width: 1200px;
    width: 400px;
    margin-top: 16px;
}