@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__row {
    /* width: 1200vh;
    max-width: none;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 32px; */
}

.container {
    padding: 80px 0;
}

.footer__container {
    /* padding: 80px 0; */
    max-width: 1200px;
    background-color: rgb(100, 21, 255);
}


.section__tag,
.section__title {
    text-align: center;
}

.section__para {
    margin: 12px;
}


h1 {
    font-size: 36px;
}

li {
    list-style: none;
}

.container {
    padding: 48px;
}

.purple {
    color: rgba(80, 17, 204);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.nav__logo {
    display: flex;
    align-items: center;
}


.nav__logo--img {
    width: 40px;
}

.nav__link--title {
    padding-left: 12px;
    font-size: 24px;
    font-weight: 900;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.nav__link {
    font-size: 16px;
    padding: 24px;
}

.nav__link--primary {
    background-color: rgba(80, 17, 204);
    color: white;
    border-radius: 100px;
    padding: 12px 24px;
}


/* header  */

.header__description {
    text-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header__para--description {
    margin: 24px 0;
}


.container {
    display: flex;
    justify-content: space-between;
}

.header__figure {
    width: 60%;
}

.header__img {
    margin: 0 24px;
    height: 400px;
}

.email-input-group {
    display: flex;
}

.header__email--input {
    border-radius: 24px;
    padding: 12px 24px;
    border-color: rgba(80, 17, 204);
}

.header__email--btn {
    color: white;
    width: 100px;
    background-color: rgba(80, 17, 204);
    padding: 12px;
    margin: 16px;
    border-radius: 24px;
    cursor: pointer;
}

.header__customer--title {
    margin-top: 12px ;
}

.header__customers {
    max-width: 1200px;
    width: 400px;
    margin-top: 16px;
}


/* features */

.features {
    display: flex;
    flex-wrap: wrap;
    
}

.feature {
    display: flex;
    width: calc(100% / 3);
    gap: 2rem;
}

.feature__description {
    display: flex;
    flex-direction: column;
}


/* quality work section */

.section-info-main {
    display: flex;
    text-align: center;
}

.section__para {
    margin: 24px;
    color: #718096;
    line-height: 1.5;
    text-align: center;
}

.section__info {
    width: 40%;
}

.section__figure {
    width: 60%;
}

.section__img {
    height: 400px;
}

.section__button {
    color: white;
    background-color: rgba(80, 17, 204);
    padding: 12px;
    border-radius: 50px;
    cursor: pointer;
}

.section__title {
    margin: 16px 0;
}


/* steps */

.step {
    display: flex;
}

.step__description {
    margin-left: 20px;
}

.step__number {
    color: #cbd5e0;
    font-weight: 600px;
    font-size: 36px;
}

.step__title {
    color: #243e63;
    font-family: 600;
    font-size: 20px;
    margin-top: 12px;
}

.step__para {
    color: #718096;
    font-weight: 500;
    font-size: 14px;
    margin-top: 12px;
}


/* values */

.value__description {
   display: flex;
   flex-direction: column;
}

.value__list--wrapper {
    display: flex;
}

.figure__wrapper {
    display: flex;
}

.value__name {
    margin-left: 12px;
}

.figure__logo {
    height: 35px;
    width: 35px;
    padding: 8px 12px;
    background-color: #9ae6b4;
    border-radius: 50%;
}

.value__name {
    color: #243e63;
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
}


/* plans */
.plans {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.plan {
    display: flex;
    justify-content: space-around;
}

.plan__name {
    font-size: 20px;
}

.plan__price {
    font-size: 48px;
}

.plan__duration {
    font-size: 12px;
}

.plan__top,
.plan__middle,
.plan__bottom {
    text-align: center;
}



.plan__top {
    padding: 32px;
    border: 2px solid black;
}

.plan__middle {
    padding: 32px;
    border: 2px solid black;
}

.plan__feature {
    margin: 20px 0 0;
}

.plan__bottom {
    padding: 32px;
    border: 2px solid black
}

.plan__button {
    padding: 12px;
    border-radius: 24px;
    width: 100%;
    cursor: pointer;
}

.plan__target {
    font-size: 20px;
}


/* testimonial */

.testimonial {
    text-align: center;
}

.testimonials__img {
    height: 400px;
}

.testimonial__img {
    width: 20%;
    border-radius: 999px;
}

.testimonial__rating {
    margin: 24px;
}


.testimonial__profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial_name{
    color: #4a5568;
    font-weight: 700;
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-around;
}

.testimonial__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testimonial__button {
    font-size: 20px;
    font-weight: 700;
    height: 60px;
    width: 60px;
    padding: 16px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.button--size {
    font-size: 20px;
}

.divider {
    font-size: 20px;
    margin: 0 12px;
    color: #edf2f7;
}

/* start */

.start__container {
    background-color: rgb(100, 21, 255);
    padding: 96px;
    border-radius: 8px;
}

.start__section {
    display: flex;
    align-items: center;

}

.start__title {
    font-size: 36px;
    color: white;
    font-weight: 700;
}

.start__buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.bttn__start {
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 24px 32px;
    border-radius: 40px;
    margin: 12px;
    cursor: pointer;
}

.bttn__start:nth-child(1) {
    background-color: #f56565;
}

.bttn__start:nth-child(2) {
    border: 1px solid silver;
    background-color: rgb(100, 21, 255);
}

/* footer */

footer {
    color: white;
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__column {
    display: flex;
    flex-direction: column;

}

.footer__columns {
    display: flex;
    justify-content: space-around;
}

.footer__column--title {
    font-weight: 700;
    line-height: 1.5;
}

.footer__column--link {
    color: white;
    margin-top: 24px;
}

.footer__divider {
    margin: 48px;
    border: 1px solid rgba(192, 192, 192, 0.459);
}

.footer__logo {
    height: 30px;
}

.footer__img {
    display: flex;
    align-items: center;
}

.footer__logo--text {
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding-left: 12px;
}

.footer__end {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__social--link {
    color: black;
    margin: 0 0 0 12px;
    background-color: white;
    padding: 8px;
    border-radius: 100%;
}