@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}


.section__tag,
.section__title {
    text-align: center;
}

.section__para {
    margin: 12px;
}


h1 {
    font-size: 36px;
}

li {
    list-style: none;
}

.container {
    padding: 48px;
}

.purple {
    color: rgba(80, 17, 204);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.nav__logo {
    display: flex;
    align-items: center;
}


.nav__logo--img {
    width: 40px;
}

.nav__link--title {
    padding-left: 12px;
    font-size: 24px;
    font-weight: 900;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.nav__link {
    font-size: 16px;
    padding: 24px;
}

.nav__link--primary {
    background-color: rgba(80, 17, 204);
    color: white;
    border-radius: 100px;
    padding: 12px 24px;
}


/* header  */

.header__description {
    text-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header__para--description {
    margin: 24px 0;
}


.container {
    display: flex;
    justify-content: space-between;
}

.header__figure {
    width: 60%;
}

.header__img {
    margin: 0 24px;
    height: 400px;
}

.email-input-group {
    display: flex;
}

.header__email--input {
    border-radius: 24px;
    padding: 12px 24px;
    border-color: rgba(80, 17, 204);
}

.header__email--btn {
    color: white;
    width: 100px;
    background-color: rgba(80, 17, 204);
    padding: 12px;
    margin: 16px;
    border-radius: 24px;
    cursor: pointer;
}

.header__customer--title {
    margin-top: 12px ;
}

.header__customers {
    max-width: 1200px;
    width: 400px;
    margin-top: 16px;
}


/* features */

.features {
    display: flex;
    flex-wrap: wrap;
    
}

.feature {
    display: flex;
    width: calc(100% / 3);
    gap: 2rem;
}

.feature__description {
    display: flex;
    flex-direction: column;
}


/* quality work section */

.section-info-main {
    display: flex;
    text-align: center;
}

.section__para {
    margin: 24px;
}

.section__info {
    width: 40%;
}

.section__figure {
    width: 60%;
}

.section__img {
    height: 300px;
}

.section__button {
    color: white;
    background-color: rgba(80, 17, 204);
    padding: 12px;
    border-radius: 50px;
    cursor: pointer;
}

.section__title {
    margin: 16px 0;
}


/* steps */

.step {
    display: flex;
    justify-content: space-between;
}

.step__description {
    margin-left: 20px;
}

.step__number {
    color: #cbd5e0;
    font-weight: 600px;
    font-size: 36px;
}

.step__title {
    color: #243e63;
    font-family: 600;
    font-size: 20px;
    margin-top: 12px;
}

.step__para {
    color: #718096;
    font-weight: 500    ;
    font-size: 14px;
    margin-top: 12px;
}