@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    width: 50px;
}